.root{
    -fx-background-color:#DEB887;
}

.content-section{
    -fx-background-color:#DEB887;
}

.text-field{
    fx-background-color:#000000;

}

.text-field:focused{
    -fx-background-color:#F0F8FF;
}

.button{
    -fx-background-color:#e8e8e8;
    -fx-fill-color:#FFFFFF;
    -fx-background-radius : 4;
}

.button:hover{
    -fx-background-color:#F0F8FF;
}

.label{
    -fx-text-fill : #282828;
}